.home-container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../assets/zoePose.jpeg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  position: relative;
}

.description p {
  font-family: "Questrial", sans-serif;
  font-weight: 900;
}

@media only screen and (max-width: 320px) {
  .description {
    padding: 1rem;
  }

  .description p {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .description {
    padding: 1.7rem;
  }

  .description p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
  .description {
    padding: 2.3rem;
  }

  .description p {
    font-size: 1.55em;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .description {
    padding: 2.3rem;
  }

  .description p {
    font-size: 1.55em;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) and (max-width: 888px) {
  .description {
    padding: 2.3rem;
  }

  .description p {
    font-size: 1.55em;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) and (max-width: 1200px) {
  .description {
    padding: 1.6rem;
  }

  .description p {
    font-size: 1.6em;
  }

  .home-container {
    background-position: center;
  }
}

/* Extra big screen devices (1201px and above) */
@media only screen and (min-width: 1201px) {
  .description {
    padding: 1.6rem;
  }
  .home-container {
    background-position: 25% 35%;
  }
}
