.navbar-container {
  width: 35%;
  height: 16vh;
  min-height: 150px;
  position: fixed;
  z-index: 5;
}

.navbar > .container-fluid {
  justify-content: start;
  height: 100%;
  width: 100%;
}

#nylia-navbar,
img {
  height: 100%;
  width: auto;
}
.nylia-logo {
  aspect-ratio: 1 / 1;
}

img {
  height: 100% auto;
  width: auto;
}

#nylia-navbar {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  height: 100%;
  /* width: 100%; */
}

.offcanvas-header {
  margin-right: 1.5rem;
}

.offcanvas.offcanvas-start {
  width: 35%;
  min-width: 480px;
  border-right: 1rem;
  border-right-color: #7daa8e;
  border-style: solid;
}

.nav-link {
  font-size: 2.7rem;
  font-family: "Michroma", sans-serif;
  padding-left: 3.5rem;
  letter-spacing: 0.3rem;
}

.nav-link .nyliabutton-container {
  position: relative;
  z-index: 6;
  --def: #96b7c4;
  --inv: black;
}

@media only screen and (max-width: 320px) {
  .navbar-container {
    width: 100%;
  }

  button.navbar-toggler {
    margin-left: auto;
  }

  #offcanvasNavbar-expand-false {
    width: 98%;
  }
  .modal-open {
    width: 100%;
    height: 100%;
  }

  #offcanvasNavbar-expand-false .nylia-logo {
    width: 55%;
    max-height: 30%;
  }

  .offcanvas-header {
    width: 95vw;
  }

  .offcanvas-body {
    width: 95vw;
  }

  .offcanvas.offcanvas-start {
    width: 35%;
    min-width: 150px;
  }

  #navigation-body {
    width: 85%;
  }

  .nyliabutton-container {
    padding: 1rem;
  }

  .nyliabutton-container .btn {
    font-size: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 0rem;
    padding-left: 01rem;
    letter-spacing: 0.8rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 888px) {
}

@media only screen and (min-width: 889px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
