.team-container {
  height: 100%;
  width: 100vw;
  /* padding: 5%; */
  position: relative;
  text-align: center;
}

.card-group {
  padding: 1em;
}

.TeamCard {
  max-width: 400px;
  padding: 1em;
}

@media only screen and (max-width: 320px) {
  .team-container {
    padding-top: 150px;
  }

  p {
    font-size: 0.7rem;
  }

  h3 {
    font-size: 1rem;
  }

  .h5 {
    font-size: 0.9rem;
  }

  small {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .team-container {
    padding-top: 150px;
  }

  p {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1rem;
  }

  .h5 {
    font-size: 1rem;
  }

  small {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #team-label {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
  .team-container {
    padding-top: 175px;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }

  #team-label {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .team-container {
    padding-top: 175px;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }
  #team-label {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 888px) {
  .team-container {
    padding-top: 175px;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }
  #team-label {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 889px) and (max-width: 1200px) {
  .team-container {
    padding-top: 150px;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }

  .card-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1201px) {
  .team-container {
    padding-top: 150px;
  }

  p {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }
}
