#littleMermaid2025Div #performance-header-section {
  background-image: -webkit-image-set(
    url("../../assets/nbc/nbc-anahid-300.jpg") 1x,
    url("../../assets/nbc/nbc-anahid-2000.jpg") 2x
  );
  background-image: image-set(
    url("../../assets/nbc/nbc-anahid-300.jpg") 1x,
    url("../../assets/nbc/nbc-anahid-2000.jpg") 2x
  );
  background-image: image-set(
    url("../../assets/nbc/nbc-anahid-300.jpg") 300w,
    url("../../assets/nbc/nbc-anahid-768.jpg") 768w,
    url("../../assets/nbc/nbc-anahid-1280.jpg") 1280w,
    url("../../assets/nbc/nbc-anahid-2000.jpg") 2000w
  );
}
