/* img#nyliaNavbarLogoImg.nylia-logo {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
} */

#uns2023Div #performance-header-section {
  background-image: -webkit-image-set(
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-300.png") 1x,
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-2000.png") 2x
  );
  background-image: image-set(
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-300.png") 1x,
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-2000.png") 2x
  );
  background-image: image-set(
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-300.png") 300w,
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-768.png") 768w,
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-1280.png") 1280w,
    url("../../assets/performances/UNS\ 2023/UNS-Daisy-2000.png") 2000w
  );
  background-position: top;
}

#uns2023Div #performance-guidelines-section {
  background-image: -webkit-image-set(
    url("../../assets/performances/UNS\ 2023/UNSClara-300.png") 1x,
    url("../../assets/performances/UNS\ 2023/UNSClara-2000.png") 2x
  );
  background-image: image-set(
    url("../../assets/performances/UNS\ 2023/UNSClara-300.png") 1x,
    url("../../assets/performances/UNS\ 2023/UNSClara-2000.png") 2x
  );
  background-image: image-set(
    url("../../assets/performances/UNS\ 2023/UNSClara-300.png") 300w,
    url("../../assets/performances/UNS\ 2023/UNSClara-768.png") 768w,
    url("../../assets/performances/UNS\ 2023/UNSClara-1280.png") 1280w,
    url("../../assets/performances/UNS\ 2023/UNSClara-2000.png") 2000w
  );
}
